@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

body{
    font-family: 'Josefin Slab', serif;
    text-transform: uppercase;
    letter-spacing: .05rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;

}


.logo{
    max-height: 90px !important;
    align-items: center;
}
#navbar{
    font-size: larger;
    background-color: #232526 !important;
    text-transform: capitalize;
}

#navbar a{
    color: #bdc3c7;
}
#navbar .nav-link{
    font-size: 18px;
}

.world{
    margin-left: 80px;
    text-align: right;
}

.world img{
    height: 25px;
}

.world #idioma img{
    margin: 10px 10px;
    height: 20px;
}

.world{
    color: #000;
} 

#footer{
    background-color: #232526;
}
#footer a{
    text-transform: none;
    color:#bdc3c7;
}
#footer p{
    text-align: center;
    color: #bdc3c7;
    height: 5px;
    
}

#navbar a:hover{
    color: #434343 !important;
    font-weight: 600;
   
}